domergovi_aplikacija_2/domergovi_modulSucelje_app2/src/conf/xml-resources/web-service-references/SOAP_WS/wsdl/localhost_8084/domergovi_aplikacija_1/SOAP_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.domergovi.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.domergovi.nwtis.foi.org/" name="SOAP_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.domergovi.nwtis.foi.org/" schemaLocation="http://localhost:8084/domergovi_aplikacija_1/SOAP_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajSveMeteoPodatkeUIntervalu">
<part name="parameters" element="tns:dajSveMeteoPodatkeUIntervalu"/>
</message>
<message name="dajSveMeteoPodatkeUIntervaluResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeUIntervaluResponse"/>
</message>
<message name="dajPosljednjihNMeteoPodataka">
<part name="parameters" element="tns:dajPosljednjihNMeteoPodataka"/>
</message>
<message name="dajPosljednjihNMeteoPodatakaResponse">
<part name="parameters" element="tns:dajPosljednjihNMeteoPodatakaResponse"/>
</message>
<portType name="SOAP_WS">
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeUIntervalu">
<input wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajSveMeteoPodatkeUIntervaluRequest" message="tns:dajSveMeteoPodatkeUIntervalu"/>
<output wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajSveMeteoPodatkeUIntervaluResponse" message="tns:dajSveMeteoPodatkeUIntervaluResponse"/>
</operation>
<operation name="dajPosljednjihNMeteoPodataka">
<input wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajPosljednjihNMeteoPodatakaRequest" message="tns:dajPosljednjihNMeteoPodataka"/>
<output wsam:Action="http://serveri.ws.domergovi.nwtis.foi.org/SOAP_WS/dajPosljednjihNMeteoPodatakaResponse" message="tns:dajPosljednjihNMeteoPodatakaResponse"/>
</operation>
</portType>
<binding name="SOAP_WSPortBinding" type="tns:SOAP_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPosljednjihNMeteoPodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAP_WS">
<port name="SOAP_WSPort" binding="tns:SOAP_WSPortBinding">
<soap:address location="http://localhost:8084/domergovi_aplikacija_1/SOAP_WS"/>
</port>
</service>
</definitions>